.button {
  background-color: #f063b8;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #FFFFFF;

  padding: 17px;
  padding-right: 30px;
  padding-left: 30px;

  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.arrow {
    margin-left: 30px;
}
